{% extends 'main/base.html' %}

{% load static %}

{% block title %}Обработка Фотографий{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="cards-wrapper">
        <div class="top">
            <h2>Применение фильтров к изображению</h2>
            <span id="search">
                <form action="" method="get">
                    <input type="text" name="search-filter" placeholder="Поиск" autocomplete="off" id="search-filter" value="{{ data.input }}">
                    <input type="submit" value="Найти" id="search-button">
                </form>
            </span>
        </div>
        <ul class="card-list">
            {% for filter in data.filters %}
           <a href="{% url 'filter_url' filter.id %}"> <li class="card" title="Подробнее...">
               <img src="{% static '' %}{{ filter.image_url }} " class="images">
               <h3>{{ filter.name }}</h3><br>
           </li></a>
        {% empty %}
            <div class="empty">Ничего не найдено<img src="{% static 'main/img/sad.png' %}" class="sad-img"></div>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
