{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{ filter.name }}{% endblock %}

{% block content %}

<div class="content-wrapper">
    <div class="filter-details">
        <a class="to-home" href="{% url 'Home' %}">Назад</a>
        <div class="left">
            <img src="{% static image_url %}">
        </div>
        <div class="right">
            <div class="filter-info">
                <h2>{{ filter.name }}</h2><br>
                <span>Описание: {{ filter.description }}</span><br><br>
                <span>Цена: {{ filter.price }}₽</span>
            </div>
        </div>
    </div>
</div>

<!--<h1 class="header">{{ name }}</h1>-->
<!--<a id="toHomePage" href="{% url 'Home' %}">На главную</a>-->
<!--<div class="about-filter">-->
<!--    <img src="{% static image_url2 %}" id="solo-img">-->
<!--    {{ text }}<br><br><br>-->
<!--    Стоимость услуги - {{ price }}₽<br>-->
<!--    Время выполнения работы - {{ time }} сут.-->
<!--</div>-->
{% endblock %}
